body{
	background: url(fondo1.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.a1{
	background-color:;
	position:absolute;
	top:10px;
	left:35%;
	height:100px;
	width:450px;
	border-radius:15px;
	text-align:center;
}
.letra{
font-family:castellar;
font-size: 65px;
font-style: italic;
text-align: center;
text-shadow: 
}

.a2{
	background-color:#C6A251;
	position:absolute;
	top:380px;
	left:10%;
	height:250px;
	width:460px;
	border-radius:15px;
	text-align:center;
}
.a2:hover{
	background-color:#F3D185;
	position:absolute;
	top:380px;
	left:10%;
	height:250px;
	width:460px;
	border-radius:15px;
	text-align:center;
}
.letra2{
font-family:castellar;
font-size: 20px;
font-style: italic;
text-align: center;
text-shadow: 
}

.b1{
	background-color:;
	position:absolute;
	top:240px;
	left:10%;
	height:100px;
	width:450px;
	border-radius:15px;
	text-align:center;
}
.t1{
font-family:castellar;
font-size: 30px;
font-style: italic;
text-align: center;
text-shadow: 
}

.b2{
	background-color:;
	position:absolute;
	top:240px;
	left:60%;
	height:100px;
	width:450px;
	border-radius:15px;
	text-align:center;
}
.t2{
font-family:castellar;
font-size: 30px;
font-style: italic;
text-align: center;
text-shadow: 
}

.b3{
	background-color:;
	position:absolute;
	top:700px;
	left:10%;
	height:100px;
	width:450px;
	border-radius:15px;
	text-align:center;
}
.t3{
font-family:castellar;
font-size: 30px;
font-style: italic;
text-align: center;
text-shadow: 
}


	.f1{
	background-color:;
	font-family:arial;
	position:absolute;
	top:380px;
	left:53%;
	height:400px;
	width:600px;
	border-radius:20px;
}



		#header {
	background-color:transparent;
	position:absolute;
	top:830px;
	left:14%;
	height:400px;
	width:200px;
	border-radius:15px;
	text-align:center;
	font-family:catellar;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#E3BB64;
				color:white;
				text-decoration:none;
				padding:8px 60px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
.e1{
	font-family:castellar;
font-size: 30px;
font-style: italic;
text-align: center;
text-shadow: 

}

.volver{
	position: absolute;
	top: 860px;
	left: 700px;
    text-decoration: none;
    padding: 10px;
    font-weight: 200;
    font-size: 40px;
    color: #ffffff;
    background-color: #000000;
    border: 5px solid #C6A251;
    border-radius:50px;
  }
  .volver:hover{
    color: #000000;
    background-color: #ffffff;
    border: 7px solid #C6A251;
    border-radius:30px;
  }
